/*	Media 768Px Start */
@media (min-width: 768px) and (max-width: 990px) {
	/* Main Grid */
	.col-md-12 { float: left; width: 100%; }
	/*banner*/
	/*content*/
	.education-parallax p { width: 80%;}



}

/* Media 420Px Start */
@media (max-width: 767px) {
	/* Main Grid */
	.col-md-12 { float: left; width: 100%; }
	/*header*/
	/*banner*/
	/*Content*/
	.star-rating { width: 24%;}
	.education-parallax p { width: 100%;}
	.education-parallax h2 { font-size: 28px;}


}

/* Media 300Px Start */
@media (max-width: 480px) {
	/*main grid*/
	/*main grid*/

	/*Header*/
	/*content*/
	.star-rating { width: 50%;}
	.education-back-top { margin: 0px 0px 0px -15px;}



}

/* Media 940Px Start */
@media screen and (min-width: 991px) and (max-width: 1054px) {
	.star-rating { width: 46%;}


}
